{
    "parser": "babel-eslint",
    "rules": {
      "strict": 0,
      "react/prop-types": 1
    },
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
    ],
    "globals": {
      "document": true,
      "window": true
    }
  }